html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#571842, #082341, #071626);
    background-attachment: fixed;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar {
    background: white;
}

.navbar a {
    font-family: 'Roboto Mono', monospace;
    color: #103155;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-bottom: 3px solid red;
    transition: border-bottom 1s linear;
}

.navbar li.active a {
    border-bottom: 3px solid red;
}

.navbar .navbar-toggler-icon {
    background-image: url(../images/icons/menu.svg);
}

.display-3 {
    font-family: 'Roboto Mono', monospace;
}

#hero,
#work {
    height: 100vh;
}

#chevron {
    margin-top: 6em;
}

#triangleCircle {
    top: -20em;
    left: -7em;
    position: relative;
}

#triangleSquare {
    top: -10em;
    right: -7em;
    position: relative;
}


/* Bob */

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}