/* line 8, portfolioStyles.scss */
body {
  padding-top: 70px; }

/* line 12, portfolioStyles.scss */
.jumbotron {
  color: #2E4347;
  background-color: #C0D1C2; }

/* line 17, portfolioStyles.scss */
.navbar-inverse {
  background-color: #FFF8D4;
  border: 0; }

/* line 22, portfolioStyles.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #CC7236; }

/* line 26, portfolioStyles.scss */
.navbar-inverse .navbar-brand {
  color: #CC7236; }

/* line 30, portfolioStyles.scss */
.navbar-nav {
  width: 100%;
  text-align: center; }
  /* line 33, portfolioStyles.scss */
  .navbar-nav li {
    float: none;
    display: inline-block; }
